body {
    background: url(./images/jelly.jpg);
    background-size: 1920px;
    font-family: "Work+Sans", sans-serif;
    margin-left: 50px;
}

h1 {
    padding-top: 30px;
    
    font-size: 150pt;
    color: #BFF;
    line-height:25pt;
    letter-spacing: -2px;
/*    background: #FFDDDD */
}

.resumeNav {
    position: absolute;
    top: 345px;
    margin-left: 450px;
    text-align: center;
    vertical-align: middle;
    width: 25%;
}

.bar {
    position: absolute;
    top: 362px;
    margin-left: 450px;
}

.noNum {
    list-style: none;
}

.institution, .company {
    padding-top: 20px;
    color: #FFF;
    font-style: italic;
    font-weight: bold;
    font-size: 15pt;
    line-height: 20pt;
    position: relative;
    top: -380px;
    left: 40px;
}

.degree, .title {
    color: white;
    font-size: 12pt;
    font-style: normal;
}

.gradDate, .dates {
    color: white;
    text-align: right;
    font-size: 10pt;
    font-style: normal;
}

.educationTable {
    width: 500px;
    position: relative;
    left: 80px;
    top: -380px;
    font-weight: normal;
    font-size: 18pt;
    line-height: 15pt;
}

.experienceTitleDate {
    width: 500px;
    font-weight: normal;
    font-size: 18pt;
    line-height: 15pt;
}

#eduBG{
    background-image: url(./images/educationbg.jpg);
    background-size: 700px;
}

.description {
    color: white;
    font-size: 14pt;
    width: 500px;
    font-style: normal;
}